.catalog {
  @include indent();
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
}

.catalog__list,
.catalog__promo-list {
  @include indent();
  @include list();
  @include flex();
}

.catalog__list {
  justify-content: space-between;
  padding: 3.7% 0;
  padding-bottom: 2.8%;
  padding-left: 65px;

  @include media-custom(900px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-mobile {
    flex-direction: column;
    align-items: center;
  }
}

.catalog__promo-list {
  padding-left: 60px;
  justify-content: space-between;

  @include media-custom(900px) {
    padding-left: 0;
  }

  @include media-custom(850px) {
    flex-direction: column;
    align-items: center;
  }
}

.catalog__item,
.catalog__promo-item {
  @include indent();
}

.catalog__link {
  display: block;
  padding: 0.7em 1em;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #4b4b4b;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}


.catalog__link--active {
  color: #b98348;
  outline: 2px solid #b98348;
}


.catalog__promo-item {
  min-width: 328px;
  width: 32%;
  min-height: 328px;
  margin-bottom: 10px;

  @include media-custom(850px) {
    margin-bottom: 20px;
  }
}

.catalog__promo-item:nth-child(3n) {
  margin-right: 0;
}

.catalog__promo-link {
  width: 100%;
  height: 100%;
  min-height: 328px;

  @include indent();
  padding: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background-color: #b98348;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog__promo-link--1 {
  background-image: url("../img/item-1.jpg");
  padding: 0.5em;

  & .catalog__promo-text {
    margin-top: 50px;
  }
}

.catalog__promo-link--2 {
  background-image: url("../img/item-2.jpg");

  & .catalog__promo-text {
    margin-top: 50px;
  }
}

.catalog__promo-link--3 {
  background-image: url("../img/item-3.jpg");

  & .catalog__promo-text {
    margin-top: 50px;
  }
}

.catalog__promo-link--4 {
  background-image: url("../img/item-4.jpg");

  & .catalog__promo-text {
    margin-top: 45px;
  }

  & .catalog__promo-text h3 {
    margin-bottom: 15px;
  }

  & .catalog__promo-text-brand {
    max-width: 50%;
  }

  & .catalog__promo-text-sm {
    font-size: 14px;
    padding: 1em;
    border: 1px solid #ffffff;
  }
}

.catalog__promo-link--5 {
  background-image: url("../img/drop.png"), url("../img/item-5.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  & .catalog__promo-text h3 {
    margin-bottom: 8px;
  }
}

.catalog__promo-link--6 {
  background-image: url("../img/item-6.jpg");

  & .catalog__promo-text h3 {
    margin-top: -25px;
    margin-bottom: 5px;
  }

  & .catalog__promo-text-sm {
    position: relative;
    padding: 1em 3.5em;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

.catalog__promo-text {
  @include indent();
  @include flex();
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.catalog__promo-text h3 {
  @include indent();
  padding: 0.2em;

  @include flex();
  flex-direction: column;
  align-items: center;
}

.catalog__promo-text--bg {
  padding: 5px 10px;
  padding-top: 4px;
  background-color: #b98348;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.catalog__promo-bold-text {
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Proxima Nova Semibold", "Arial", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.catalog__promo-text-brand {
  font-family: serif;

  @include indent();
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  line-height: normal;
}

.catalog__promo-text-dashed {
  position: relative;
  padding-right: 2em;
  padding-left: 2em;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1.5em;
    height: 1px;
    background-color: currentColor;
  }

  &::before {
    left: 2px;
  }

  &::after {
    right: 2px;
  }
}

.catalog__promo-text-sm {
  @include indent();
  padding: 0.5em;
  font-family: "Proxima Nova Semibold", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
  text-transform: uppercase;
}

.catalog__promo-text-Tateossian {
  max-width: 75%;
}
