.logo {
  min-width: 190px;

  @include indent();
  padding: 10px;

  @include flex();
  justify-content: space-between;
  align-items: flex-start;

  @include media-custom(1380px) {
    margin-bottom: 20px;
  }
}

.logo__img {
  @include indent();
  width: 51px;
  height: 38px;
}

.logo__letter {
  width: 91px;
  height: 32px;
}

.logo__text {
  font-size: 0;
}

