.main-nav {
  @include indent();
}

.main-nav__list {
  min-width: 720px;

  @include indent();
  @include list();
  @include flex();
  justify-content: space-between;
  align-items: center;

  @include media-custom(1380px) {
    min-width: 50%;
    max-width: 100%;
  }

  @include media-mobile {
    flex-direction: column;
  }

}

.main-nav__item {
  @include indent();
}

.main-nav__link {
  color: #ffffff;
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.main-nav__link:last-of-type {
  padding-right: 0;
}

.main-nav__link--active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
}
