.order {
  @include indent();
  width: 100%;
  max-width: 100%;
}

.order__top {
  @include indent();
  width: 100%;
  max-width: 100%;
  background-image: url("../../img/studio-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 411px;
}

.order__top .wrapper--inner {
  @include flex();
  flex-direction: column;
  padding-top: 80px;
  align-items: center;

  min-height: 411px;

  width: 58%;

  @include media-custom(1380px) {
    width: 80%;
  }

  @include media-tablet {
    width: 100%;
    max-width: 100%;
  }
}

.order__brands-list {
  @include indent();
  @include list();
  @include flex();
  justify-content: space-between;
  align-items: center;

  @include media-custom(900px) {
    & .order__brands-item {
      margin: 20px;
    }
  }

  @include media-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.order__slogan {
  outline: 2px dashed yellow;

  @include flex();
  flex-direction: column;

  @include indent();
  padding: 0.2em;
  margin-bottom: 45px;
  max-width: 48%;
  color: #ffffff;
  text-align: center;

  font-size: 24px;
  font-weight: 400;
  font-style: normal;

  /* Text style for "Пошив кост" */
  // font-family: Georgia;
  // font-size: 28px;
  // font-weight: 700;

  & .order__slogan-top {
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 8px;
  }

  & .order__slogan-center {
    text-transform: uppercase;
  }

  & .order__slogan-bottom {
    font-weight: bold;
    text-transform: uppercase;
  }
}


.order__text {
  outline: 3px dashed yellowgreen;
  position: relative;

  @include indent();
  padding: 0.5em;
  padding-left: 2em;
  color: #ffffff;
  text-align: center;
  // font-family: Georgia;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;

  &::after {
    content: url("../../img/wave.png");
    width: 80%; // 210px;
    height: 14px;
    position: absolute;
    top: 120%;
    left: 10%;
    background-color: transparent;
  }

  @include media-custom(1380px) {
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }
}

.order__bottom {
  @include flex();
  @include indent();
  width: 100%;
  max-width: 100%;

  min-height: 154px;
  background-color: black;
  background-image: url("../../img/Layer_44.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.order__bottom .wrapper--inner {
  padding-top: 2.5%;
  padding-left: 60px;
  width: 58%;

  @include media-custom(1380px) {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-custom(900px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include media-tablet {
    width: 100%;
    max-width: 100%;
  }

}
