.page-footer {
  @include indent();
  width: 100%;
  max-width: 100%;
  background-color: rgba(1, 1, 1, 0.1);
}

.page-footer .wrapper--inner {
  position: relative;

  @include flex();
  justify-content: space-between;
  padding: 2.3%;
  padding-left: 80px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    width: 1px;
    height: 100%;
    background-color: #c2c2c2;
  }

  &::after {
    left: 28%;
  }

  &::before {
    left: 70%;
  }

  width: 58%;

  @include media-custom(1800px) {
    &::after,
    &::before {
      display: none;
    }
  }

  @include media-custom(1380px) {
    width: 80%;
  }

  @include media-tablet {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

}

.page-footer__nav,
.page-footer__catalog,
.page-footer__contacts {
  @include indent();
}


.page-footer__contacts {
  min-width: 242px;
}

.page-footer__catalog {
  padding-left: 30px;
  width: 35%;
}

.page-footer__nav-list,
.page-footer__catalog-list {
  @include indent();
  @include list();
  @include flex();
  flex-direction: column;
}

.page-footer__catalog-list {
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  @include media-tablet {
    align-content: center;
    margin-bottom: 20px;
  }
}

.page-footer__nav-item,
.page-footer__catalog-item {
  @include indent();
}

.page-footer__nav-link,
.page-footer__catalog-link {
  font-family: "Proxima Nova Semibold", "Arial", "Helvetica", sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 0.3em;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-footer__nav-link {
  letter-spacing: 1px;
  line-height: 1.4;
  text-decoration: none;
  color: #b98348;
}

.page-footer__catalog-link {
  color: #1f1f1f;
  padding: 0.25em;
  min-width: 120px;
}

.page-footer__contacts-title {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;

  @include indent();
  margin-bottom: 5px;
  padding: 0.2em 0;
}

.page-footer__contacts-container {
  @include indent();
  @include flex();
  flex-direction: column;

  margin-bottom: 30px;
}

.page-footer__contacts-paragraph {
  @include indent();
  @include flex();
  padding: 0.2em;
  color: #1f1f1f;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 1.4;
}

.page-footer__contacts-tel a {
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-footer__contacts-email a {
  color: #b98348;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-footer__social-list .social-item {
  border: 1px solid #b98348;
}

.page-footer__social-list .social-link {
  & svg {
    fill: #b98348;
  }
}
