.presentation {
  @include indent();
  width: 100%;
  max-width: 100%;
  min-height: 446px;
  background-color: #b98348;
  background-image: url("../img/2-layers.png"), url("../img/br-presentation.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: content, cover;
  background-position: 72.5% 100%, 0 0;

  @include media-custom(1380px) {
    background-position: 85% 100%, 0 0;
  }

  @include media-custom(900px) {
    background-image: url("../img/br-presentation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  @include media-tablet {
    padding: 10px;
  }
}

.presentation .wrapper--inner {
  @include flex();
  align-items: center;
  min-height: 446px;

  @include media-custom(900px) {
    justify-content: center;
    align-items: center;
  }
}

.presentation__title {
  outline: 2px dashed yellowgreen;
  position: relative;

  @include indent();
  margin-left: 40px;
  padding: 0.2em;
  margin-top: -10px;
  margin-bottom: 10px;
  width: 56%;
  max-width: 100%;
  color: #ffffff;
  font-size: 48px;
  line-height: 1.15;
  font-style: normal;
  text-align: center;
  font-weight: 300;

  & span {
    font-weight: 700;
    letter-spacing: -1.5px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 36%;
    width: 28%;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    top: -8%;
  }

  &::after {
    top: 115%;
  }

  @include media-custom(900px) {
    margin-left: 0;
    width: 80%;
    background-color: #b98348;

    &::before {
      display: none;
    }
  }

  @include media-tablet {
    width: 100%;
    max-width: 100%;
    font-size: 36px;
  }
}
