.wrapper {
  width: 100%;
  min-width: $mobile-width;
  max-width: $desktop-width;
  height: auto;

  @include flex();
  @include indent();
  margin-right: auto;
  margin-left: auto;
}

.wrapper--inner {
  @include indent();
  width: 55%;
  margin-right: auto;
  margin-left: auto;

  @include media-custom(1380px) {
    width: 80%;
  }

  @include media-tablet {
    width: 100%;
    max-width: 100%;
  }
}

