.wrapper {
  width: 100%;
  min-width: $mobile-width;
  max-width: $desktop-width;
  height: auto;

  @include flex();
  @include indent();
  margin-right: auto;
  margin-left: auto;
}

.wrapper--inner {
  @include indent();
  width: 50.47%;
  margin-right: auto;
  margin-left: auto;
}

